<section class="filter">
  <div class="filter-heading">
    <img width="20px" src="/assets/images/icon-hour.png" alt="relógio">
    <span>Horário</span>
  </div>
  <div class="filter-form">
    <h2>Qual horário você quer treinar?</h2>
    <hr />
    <form class="form-group">
      <div class="input-wrapper">
        <div>
          <input type="radio" name="manha" id="manha" value="6">
          <label for="manha">Manhã</label>
        </div>
        <span>06:00 às 12:00</span>
      </div>
      <hr />
      <div class="input-wrapper">
        <div>
          <input type="radio" name="tarde" id="tarde" value="12">
          <label for="tarde">Tarde</label>
        </div>
        <span>12:01 às 18:00</span>
      </div>
      <hr />
      <div class="input-wrapper">
        <div>
          <input type="radio" name="noite" id="noite" value="18">
          <label for="noite">Noite</label>
        </div>;
        <span>12:01 às 18:00</span>
      </div>

      <div class="input-wrapper checkbox">
        <div>
          <input type="checkbox" name="fechadas" id="fechado">
          <label for="fechadas">Exibir unidades fechadas</label>
        </div>
        <span>Resultados encontrados: <strong>10</strong></span>
      </div>

      <div class="button-wrapper">
        <button class="primary">ENCONTRAR UNIDADE</button>
        <button class="secondary">LIMPAR</button>
      </div>
    </form>
  </div>
</section>