<section class="filter">
  <div class="filter-heading">
    <img width="20px" src="/assets/images/icon-hour.png" alt="relógio">
    <span>Horário</span>
  </div>
  <div class="filter-form">
    <h2>Qual horário você quer treinar?</h2>
    <hr />
    <form class="form-group" [formGroup]="applyForm" (submit)="submitApplication()">
      <div class="input-wrapper">
        <div>
          <input formControlName="turn" type="radio" id="manha" value="6">
          <label for="manha">Manhã</label>
        </div>
        <span>06:00 às 12:00</span>
      </div>
      <hr />
      <div class="input-wrapper">
        <div>
          <input formControlName="turn" type="radio" id="tarde" value="12">
          <label for="tarde">Tarde</label>
        </div>
        <span>12:00 às 18:00</span>
      </div>
      <hr />
      <div class="input-wrapper">
        <div>
          <input formControlName="turn" type="radio" id="noite" value="18">
          <label for="noite">Noite</label>
        </div>
        <span>18:00 às 23:00</span>
      </div>

      <div class="input-wrapper checkbox">
        <div>
          <input type="checkbox" checked formControlName="showClosed" id="fechadas">
          <label for="fechadas">Exibir unidades fechadas</label>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="primary" type="submit">ENCONTRAR UNIDADE</button>
        <button class="secondary" type="button" (click)="resetForm()">LIMPAR</button>
      </div>
    </form>
  </div>
</section>