<section class="rules">
  <div class="items">
    <h3>Mascara</h3>
    <div class="icons-wrapper">
      <div class="icon">
        <img src="../../../assets/images/required-mask.png" alt="required mask">
        <span>Obrigatório</span>
      </div>
      <div class="icon">
        <img src="../../../assets/images/recommended-mask.png" alt="recommended mask">
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="items">
    <h3>Toalha</h3>
    <div class="icons-wrapper">
      <div class="icon">
        <img src="../../../assets/images/required-towel.png" alt="required towel">
        <span>Obrigatório</span>
      </div>
      <div class="icon">
        <img src="../../../assets/images/recommended-towel.png" alt="recommended towel">
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="items">
    <h3>Bebedouro</h3>
    <div class="icons-wrapper">
      <div class="icon">
        <img src="../../../assets/images/partial-fountain.png" alt="partial fountain">
        <span>Parcial</span>
      </div>
      <div class="icon">
        <img src="../../../assets/images/forbidden-fountain.png" alt="forbidden fountain">
        <span>Proibido</span>
      </div>
    </div>
  </div>
  <div class="items">
    <h3>Vestiarios</h3>
    <div class="icons-wrapper">
      <div class="icon">
        <img src="../../../assets/images/required-lockerroom.png" alt="allowed lockerroom">
        <span>Liberado</span>
      </div>
      <div class="icon">
        <img src="../../../assets/images/partial-lockerroom.png" alt="partial lockerroom">
        <span>Parcial</span>
      </div>
      <div class="icon">
        <img src="../../../assets/images/forbidden-lockerroom.png" alt="forbidden lockerroom">
        <span>Fechado</span>
      </div>
    </div>
  </div>
</section>