.location {
  padding: 1rem;
  border: 1px solid var(--super-light-grey);
  border-radius: 8px;
  background-color: var(--ultra-light-grey);
  height: 360px;
  width: 306px;

  .card-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .status {
    font-size: 0.875rem;
    font-weight: 700;

    &.opened {
      color: var(--green);
    }

    &.closed {
      color: var(--red);
    }
  }

  .adress {
    font-size: 0.75rem;
    color: var(--light-grey);
    line-height: 1.25rem;
  }

  .schedule {
    margin: 0.25rem 0;
  }

  .rules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .items {
      img {
        width: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .location {
    .rules {
      .items {
        img {
          width: 35px;
        }
      }
    }
  }
}