<main class="home content">
  <div class="title">
    <h1>REABERTURA SMART FIT</h1>
    <div class="line"></div>
  </div>

  <p>O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso, confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.
  </p>

  <app-filter (filters)="getFilters($event)"></app-filter>

  <section class="location-list">
    <app-location *ngFor="let location of ( locationList$ | async)" [location]="location">
    </app-location>
  </section>

</main>