@import url(./fonts.scss);

:root {
  --dark-grey: #333333;
  --light-grey: #808080;
  --yellow: #FFB612;
  --red: #dc0a17;
  --green: #2FC022;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  padding: 4rem 1.25rem;
  max-width: 980px;
}