@import url(./fonts.scss);

:root {
  --dark-grey: #333333;
  --light-grey: #808080;
  --super-light-grey: #e7e7e7;
  --ultra-light-grey: #f7f7f7;
  --yellow: #FFB612;
  --red: #dc0a17;
  --green: #2FC022;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  padding: 4rem 1.25rem;
  max-width: 980px;
}

button {
  font-family: Gotham;
  font-weight: 900;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.875rem;
  width: 18rem;

  &.primary {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
  }

  &.secondary {
    border: 1px solid var(--light-grey);
    background-color: var(--white);
  }
}

hr {
  height: 1px;
  border: none;
  background-color: var(--super-light-grey);
}